## Measures of Central Tendency - I

Q: Write a Python program to declare a 1-D array. With the help of the statistics library, calculate the Mean, Median, and Mode.

In [2]:
arr = [1,2,3,4,5,6,2,3,4,5,5,5,5]

print("The Array is: ")
print(arr)

The Array is:
[1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 5, 5, 5]

In [10]:
import statistics as stats

# mean of array
mean = stats.mean(arr)
# median of array
median = stats.median(arr)
# mode of the array
mode = stats.mode(arr)

print("Mean of the Array is:")
print(mean)
print("Median of the Array is:")
print(median)
print("Mode of the Array is:")
print(mode)

Mean of the Array is:
3.8461538461538463
Median of the Array is:
4
Mode of the Array is:
5

## Measures of Central Tendency - II

Q: Write a Python program to declare a DataFrame as shown in the dataset section below and calculate the Mean, Median and Mode

of the entrire DataFrame

In [17]:
import pandas as pd
import statistics as stats

data = {"Apple":[10,7,55,15,7,5],
        "Orange":[20,14,15,14,1,4],
        "Banana":[30,21,8,1,1,9],
        "Pear":[40,28,12,8,8,2]
       }

df = pd.DataFrame(data,index=["Bag1","Bag2","Bag3","Bag4","Bag5","Bag6"])
df

      Apple  Orange  Banana  Pear
Bag1     10      20      30    40
Bag2      7      14      21    28
Bag3     55      15       8    12
Bag4     15      14       1     8
Bag5      7       1       1     8
Bag6      5       4       9     2

In [23]:
mean = df.mean()
print("Calculating the Mean")
print(mean)

Calculating the Mean
Apple     16.500000
Orange    11.333333
Banana    11.666667
Pear      16.333333
dtype: float64

In [25]:
median = df.median()
print("Calculating the Median")
print(median)

Calculating the Median
Apple      8.5
Orange    14.0
Banana     8.5
Pear      10.0
dtype: float64

In [27]:
mode = df.mode()
print("Calculating the Mode")
print(mode)

Calculating the Mode
   Apple  Orange  Banana  Pear
0      7      14       1     8

## Measures of Central Tendency - III

Q: Load the "Books.csv" dataset into a DataFrame and perform the following tasks:

1. Perform initial analysis on the dataset using the info() and describe() functions
2. Group the data based on the "Author" column and calculate the average user ratings and average price, and write them in new columns
3. Find out which of the authors have written the maximum number of books

In [32]:
import pandas as pd
import statistics as stats

df = pd.read_csv("Books.csv")

df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction

In [48]:
#  1. Perform analysis of dataset using the info() and the describe() functions
df_info = df.info()
print(df_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         700 non-null    object
 1   Author       700 non-null    object
 2   User Rating  700 non-null    float64
 3   Reviews      700 non-null    int64
 4   Price        700 non-null    int64
 5   Year         700 non-null    int64
 6   Genre        700 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.4+ KB
None

In [46]:
df_describe = df.describe()
print(df_describe)

       User Rating        Reviews       Price         Year
count   700.000000     700.000000  700.000000   700.000000
mean      4.639857   19255.195714   12.700000  2015.500000
std       0.218586   23613.443875    9.915162     4.034011
min       3.300000      37.000000    0.000000  2009.000000
25%       4.500000    4987.250000    7.000000  2012.000000
50%       4.700000   10284.000000   11.000000  2015.500000
75%       4.800000   23358.000000   15.000000  2019.000000
max       4.900000  208917.000000  105.000000  2022.000000

In [66]:
# 2. Group the data based on the "Author" column and calculate the average user ratings and average price
# and write them  in new columns